<nav class="navbar-header header-inner">
    <div class="container">
        <div class="header-left-side">
            <a href="{{ route('catalog', { username: dropshipper.username }) }}" class="btn btn-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M13 5.93L6.93 12 13 18.07l1.5-1.5L9.93 12l4.57-4.57z"/>
                </svg>
            </a>
            <a href="{{ route('catalog', { username: dropshipper.username }) }}" class="brand">Berjalan Store</a>
        </div>
        <a href="http://wa.me?phone={{ dropshipper.phone }}" class="btn btn-icon" title="WhatsApp">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30">
                <path d="M15 3C8.371 3 3 8.371 3 15c0 2.25.633 4.352 1.71 6.152L3.11 27l5.972-1.566A11.947 11.947 0 0015 27c6.629 0 12-5.371 12-12S21.629 3 15 3zm-4.11 6.402c.196 0 .4 0 .57.008.216.004.446.02.669.512.266.59.844 2.058.918 2.207.074.148.125.324.023.52-.097.199-.148.32-.293.496-.148.175-.312.386-.449.515-.148.152-.3.313-.129.61.172.3.77 1.273 1.653 2.058 1.136 1.016 2.093 1.324 2.39 1.473.297.152.469.129.645-.07.175-.196.742-.868.941-1.165.195-.296.395-.246.664-.148.274.098 1.735.816 2.035.969.297.148.493.222.567.343.078.125.078.72-.172 1.41-.246.696-1.457 1.364-2 1.41-.55.055-1.063.25-3.57-.738-3.024-1.19-4.93-4.289-5.082-4.488-.149-.195-1.207-1.61-1.207-3.07 0-1.465.765-2.184 1.035-2.48.273-.297.593-.372.793-.372z" />
            </svg>
        </a>
    </div>
</nav>